#view{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(15, 59, 153, 0.466);
    height: 100vh;
    row-gap: 1rem;
 
}
.info{
    padding: 2rem;
    width: 100%;
    flex: 1;
}
.info textarea{
    resize: none;
    border: 0;
    outline: 0;
    background-color: #25222275;
    color: var(--RedColor);
    font-size: 1.5rem;
    font-family: "Satisfy";
    padding-top: 0.5rem;
    padding: 2rem;
    line-height: 3.5rem;
    width: 100%;
    height: 90%;
    letter-spacing: 0.1rem;
    text-underline-offset: 1rem;
    text-decoration: underline rgb(255, 255, 255) 0.1rem;
    transition: 0.5s;
}


.special{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 
    margin-bottom: 1rem;
}
.special button{
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    border: 0;
    color: var(--GreenColor);
    transition: 0.4s;
    background-color: #000;
    cursor: pointer;
}
.special button i{
    scale: 1.5;
}
.special button:hover{
    color: var(--RedColor);
    background-color: #0000006b;
}