#welcome {
  width: 100vw;
  height: 100vh;
  background-color: #000000d0;
  display: flex;
  flex-direction: column;
row-gap: 1rem;
  justify-content: center;
  align-items: center;
}
#welcome p {
  font-size: 4rem;
  color: cyan;
  font-family: QuickSand;
  font-weight: bolder;
  text-shadow: 0 0 1rem cyan;
}
#welcome::before{
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../Images/welcome.webp") no-repeat center center/cover;
    z-index: -1;
    /* filter: brightness(2); */
    opacity: 0.8;
}
#welcome span {
    min-height: 6rem;
  font-size: 3rem;
  border-right: 0.1rem solid transparent;
  font-family: "Titillium web";
  color: rgb(16, 255, 140);
  letter-spacing: 0.1rem;
  text-shadow: 0 0 1rem #ff8282;
  animation: blink 0.75s ease infinite;
  
}
@keyframes blink {
  0%,
  100% {
    border-right: 0.5rem solid transparent;
  }
  50% {
    border-right: 0.5rem solid rgb(103, 255, 182);
  }
}

@media screen and (min-width:800px){
    #welcome p{
        font-size: 5rem;
    }
    #welcome span{
        font-size: 4rem;
    }
}