#dash{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.425);
    display: flex;
    flex-direction: column;
}
#dash::before{
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../Images/bg1.jpg") no-repeat center center/cover;
    
    z-index: -1;
}

/* for all pages to show some instructions */
#Signal{
    margin: 1rem 1rem;
  
    text-align: center;
    text-shadow: 0 0 1rem currentColor;
    font-size: 1.3rem;
    font-family: "Arial Narrow";
    letter-spacing: 0.1rem;
    color: yellow;
    text-wrap: wrap;
}
@media screen and (min-width:950px) {
    #dash{
        flex-direction: row;
    }
}