#titleBox{
    width: 100%;
    min-height: 4rem;
    /* border: 0.1rem solid #fff; */
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 18, 37);
}
#titleBox p{
    width: 70%;
    /* border: 0.1rem solid #fff; */
    padding: 0 1rem;
    font-size: 2rem;
    text-wrap: wrap;
    font-family: "Thasadith";
    color: var(--GreenColor);
}
#titleBox p::first-letter{
    color: cyan;
}
#titleBox i{
    margin-right: 2rem;
    color: #fff;
    scale: 1.5;
    transition: 0.4s;
}
#titleBox i:hover{
    color: cyan;
}

#titleBox span{
    font-size: 1.4rem;
    margin-right: 1rem;
    color: yellow;
    cursor: pointer;
    font-family: "Titillium web";
    transition: 0.4s;
}
#titleBox span:hover{
    color: var(--RedColor);
    text-shadow: 0 0 1rem yellow;
}