.inputB{
    width: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{ 
    /* both for login.js and sign.js */
    width: 100%;
    font-size: 1.3rem;
    text-wrap: wrap;
    font-family: QuickSand;
    text-indent: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 1rem;
    outline: 0;
    border: 0;
    cursor: pointer;
    padding: 0.5rem;
}
.input:hover{
    filter: drop-shadow(0 0 1.5rem #ffffff8b) ;
}
.inputB p{
    /* border: 0.1rem solid #fff; */
    border-radius: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    color: beige;
    background-color: rgba(255, 0, 0, 0.249);
    font-family: "Arial Narrow";
    letter-spacing: 0.1rem;
    text-wrap: wrap;
    animation: expand 1s ease forwards
}
@keyframes expand {
    0%{
        font-size: 0;
    }
    100%{
        font-size: 1.1rem;
    }
}
